{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Erreur 404 {% endblock %}
       
{% block content %} 
    <h1 class="text-center">Erreur 403</h1> 
    <h2> Vous devez vous connecter à votre compte !</h2>
{% endblock %} 